*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans', sans-serif;
	background: #000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a39db0, #efedf2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a39db0, #efedf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav{
	position: fixed;
	top: 20px;
	left: 20px;
	display: flex;
	justify-content: flex-start;
}

nav a{
	color: #fff;
	text-decoration: none;
}

.icono {
	animation: moverizquierda 1s ease-in;
	z-index: 1000000000;
	display: block;
}

header {

height: auto;
padding: 48px;
width:100%;

}

.container {
	width: 95%;
	max-height: 1200px;
	display: flex;
	align-items: center;
	margin:auto;
	overflow: hidden;
	justify-content: space-around;
}

img {
	display: block;
	height: 450px;
	object-fit: cover;
	width: auto;
	animation: moverarriba 1s ease-in;
}

.textos {
	width: 50%;
	color: #ffffff;
}

.textos h1 {
	font-size: 80px;
	animation: moverderecha 1s ease-in;
}

.textos h2 {
	font-size: 30px;
	animation: moverizquierda 1s ease-in;
}

.textos a{
	display: inline-block;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	margin-top: 30px;
	border: solid 1px black;
	width: 150px;
	border-radius: 3px;
	text-align: center;
	animation: moverarriba 1s ease-in;
}

.ola {
	background: #fff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,  #a39db0, #efedf2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a39db0, #efedf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100px;
	width: 100%;
}

.enlaces {
	position: fixed;
	display: flex;
	top: 0;
	background: #000;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	right: 0;
	flex-direction: column;
	width: 100%;
	transition: all 1s ease;
	background: #4e54c8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dbb6d1, #b5519a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dbb6d1, #b5519a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.uno {
	-webkit-clip-path: circle(0% at 0 0);
	clip-path: circle(0% at 0 0);
}

.dos {
	-webkit-clip-path: circle(150% at 0 0);
	clip-path: circle(150% at 0 0);
}

.habilidades h1{
	font-size: 80px;
}



@keyframes moverizquierda {
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moverderecha {
	0%{
		opacity: 0;
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moverarriba {
	0%{
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@media screen and (max-width: 1000px){
	img {
		height: 370px;
	}
		.textos h1{
			font-size: 70px;
		}
		.textos h2{
			font-size: 25px;
		}
}
	
@media screen and (max-width: 700px){
	img {
		height: 250px;
	}
		.textos h1{
			font-size: 40px;
		}
		.textos h2{
			font-size: 15px;
		}
}
	
@media screen and (max-width: 450px){
	.container {
		width: 100%;
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
	.textos {
		width: 100%;
		text-align: center;
	}
		.textos h1{
			font-size: 60px;
		}
		.textos h2{
			font-size: 15px;
		}
}

@media screen and (max-width: 340px){
	img {
		height: 160px;
	}
		.textos h1{
			font-size: 35px;
		}
		.textos a{
			width: 120px;
		}
		.textos h2{
			font-size: 15px;
		}
}
